$cp1: #C7CCDB;
$cp2: #1D1919;
$cpa: #767B91;
$sc1: #2A324B;
$sc2: #E1E5EE;

//$outer-space-crayola: #283d3bff;
//$skobeloff: #197278ff;
//$champagne-pink: #edddd4ff;
//$international-orange-golden-gate-bridge: #c44536ff;
//$liver-organ: #772e25ff;